$a--layout-breakpoints: (
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 730px,
  // Large screen / desktop
  lg: 970px,
  // Extra large screen / wide desktop
  xl: 1250px,

  xxl: 1440px,
);