$colors: (
  primary: #ff1c44,
  primary-disabled: #f7506f,
  secondary: #6F7DFF,
  tertiary: #676f8f,
  accept: #7cc954,
  error: #ff1c44,
  white: #ffffff,
  input: #494f66,
  input-disabled: #696c7a,
  border-input: #c5cbe0,
  general-base: #D7DBF5,
);

$font-family: (
  primary: ("Lato", helvetica, sans-serif),
  secondary: ("Roboto", sans-serif),

);
