@import 'src/sass/index.scss';

.context{
    width: remy(384);
    height: remy(56);
    overflow-x: auto;
    @include scroll-custom-style;
    .context__container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .context__container__option{
            display: grid;
            height: remy(56);
            place-content: center;
            border-bottom: 2px solid map-get($a--general, border, color, base);
            padding: 0 remy(16);
            font-size: map-get($a--subTitle, font, size, small);
            color: map-get($a--subTitle, color, primary);
            font-family: map-get($a--subTitle, font, family );
            transition: ease-in-out 0.3s;
            text-align: center;
            cursor: pointer;

            &.context__container__option--active{
                border-bottom: 2px solid map-get($a--general, border, color, active);
                color: map-get($a--subTitle, color, secondary);
            }
        }
    }
    @include mobile{
        width: remy(296);
    }
}